---
layout: default
title: Profile
---
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="home-info text-center bg-white py-5 b-bottom">
					<h6 class="h6 m-color font-weight-extra">General<br>information</h6>
					<ul class="list-unstyled">
						{% for info in site.data.home.general-info %}
						<li class="pt-4"><span class="d-inline font-weight-bold">{{info.title}}</span><p class="text-secondary">{{info.text}}</p></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-md-9 align-items-center">
				<div class="home-card d-flex align-items-center px-4">
					<div class="card-avatar text-center">
						<img class="img-fluid img-thumbnail rounded-circle d-block" src="{{site.baseurl}}/assets/img/image-1.png">
						<button type="button" class="btn btn-outline-warning mt-3 ">Download Now</button>
					</div>
					<div class="card-text pl-5">
						<h2 class="h2 font-weight-extra text-dark">work hard</h2>
						<span>&amp; Be Nice To People</span>
						<p class="mt-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, eveniet officiis velit vero iure labore dignissimos, debitis recusandae cupiditate quod odit, tempora quisquam officia cum quaerat aliquid incidunt reiciendis? Quae.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container pt-4">
		<div class="row">
			<div class="col-md-3">
				<div class="home-info text-center bg-white py-5 b-bottom h-100">
					<h6 class="h6 m-color font-weight-extra">Skills</h6>
					<ul class="list-unstyled">
						{% for info in site.data.home.skills-info %}
						<li class="pt-4"><span class="d-inline font-weight-bold">{{info.title}}</span><p class="text-secondary">{{info.text}}</p></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="gallery d-grid justify-content-center align-items-center h-100">
					{% for gallery in site.data.home.gallery %}
					<div class="gallery-img position-relative">
						<img class="img-fluid" src="{{site.baseurl}}/{{gallery.img}}" alt="{{gallery.alt}}">
						<div class="overlay d-flex position-absolute h-100 w-100 justify-content-center align-items-center"><i class="icon icon-plus text-white text-center rounded-circle"></i></div>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-md-3">
				<div class="social-icons text-center b-dsh py-5 h-100">
					<h6 class="h6 text-dark font-weight-extra">Network</h6>
					<ul class="list-unstyled">
						{% for social in site.social-icons%}
						<li class="pt-4 text-secondary">
							<i class="icon icon -star text-laser"></i>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

</section>