---
layout: default
---
<section id="resume">
	<div class="container">
		<h5 class="h5 text-center font-weight-extra text-dark">Resume.</h5>
		<p class="quots font-weight-bold b-dsh py-3 b-dsh text-dark text-center">Think Big. Start Small. Scale Fast</p>

		<div class="row my-3">
			<div class="col-md-9 h-100">
				<div class="">
					<h6>Experiece <i class="icon icon-sort-down"></i></h6>
				</div>
			</div>
			<div class="col-md-3 h-100">
				<div class="home-info text-center bg-white py-5 b-bottom">
					<div class="card-avatar text-center">
						<img class="img-fluid img-thumbnail rounded-circle" src="{{site.baseurl}}/assets/img/image-1.png">
					</div>
					<h6 class="h6 m-color mt-3">General<br>information</h6>
					<ul class="list-unstyled">
						{% for info in site.data.home.general-info %}
						<li class="pt-4"><span class="d-inline">{{info.title}}</span><p class="text-secondary">{{info.text}}</p></li>
						{% endfor %}
					</ul>
					<button type="button" class="btn btn-outline-warning mt-3 ">Download Now</button>
				</div>
				<div class="home-info text-center b-dsh py-5 b-bottom mt-3">
					<h6 class="h6 mb-4">Skills And Expertize</h6>
					<ul class="list-unstyled px-3">
						{% for skill in  site.data.resume.skills %}
						<li>
							<small class="d-block">{{skill.name}}</small>
							<div class="skill-progress bg-white my-3"><span class="d-block  bg-laser h-100" style="width: {{skill.pers}}"></span></div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>