/*--->> BASE <<-----*/
*, *::after, *::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0 !important;
}

/*--->> LAYOUT <<-----*/
.font-weight-extra {
  font-weight: 900;
}

.divider {
  border-bottom: 1px solid #ececec;
}

.m-color {
  color: #CDA778;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.b-bottom {
  border-bottom: 2px solid #eaeaea;
}

/*--->> PAGES <<-----*/
#head .head-menu li {
  color: #666;
  font-weight: 500;
}

#head .head-menu li.active, #head .head-menu li:hover {
  color: #CDA778;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#home .home-card {
  border: 2px dashed #ececec;
  height: 100%;
}

#home .home-card .card-avatar .btn {
  text-transform: uppercase;
  border: 1px solid #CDA778;
  color: #CDA778;
}

#home .home-card .card-avatar .btn:hover {
  background: #CDA778;
  color: white;
}

#home .home-card .card-text .text-secondary {
  line-height: 2;
}
