---
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body class="bg-light">
	<!-- Start Header Section -->
	<header id="head" class="my-5 text-center">
		<div class="container">
			<div class="head-name">
				<h1 class="display-5 font-weight-extra text-dark">Salah Belouad</h1>
				<p class="text-secondary">Designer/Creative Directore</p>
			</div>
			<ul class="head-menu list-unstyled d-flex justify-content-center pt-5">
				{% for list in site.menu %}
				<li class="{% if page.url == list.url %} active {% endif %} px-4"><a href="{{site.baseurl}}/{list.url}}">{{list.name}}</a></li>
				{% endfor %}
			</ul>
			<div class="divider"></div>
		</div>
	</header>
	<!-- End Header Section -->
	{{content}}
	<footer id="foot" class="text-center my-5">
		<div class="container">
			<div class="divider"></div>
			<p class="text-secondary py-4">Copyright &copy; 2018  dev.salah all right reserved.</p>
		</div>
	</footer>
</body>
</html>