.font-weight-extra {
	font-weight: 900;
}
.divider {
	border-bottom: 1px solid #ececec;
}
.m-color {
	color: $main-color;
}
.d-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}
.b-bottom {
	border-bottom: 2px solid #eaeaea;
}